# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.sass-cache/
.versions/
coverage/
dist/
node_modules/
bower_components/
plugins/
tmp/
temp/
www/build/
$RECYCLE.BIN/
ionic.config2.js

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
briefing.md
.vscode
database.rules.json
.firebaserc