// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/settings/settings";

@import "../pages/maps/maps";

@import "../pages/add/add";

@import "../pages/trip/trip";

@import "../pages/trip.part/trip.part";

@import "../pages/profile/profile";

@import "../pages/login/login";

@import "../pages/search/search";

@import "../pages/tabs/tabs";

@import "../pages/home/home";

@import "../pages/messages/messages";

@import "../pages/favourites/favourites";

html,body{
    background-color: #355C7D;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
scroll-content{
    display:block;
    overflow: visible !important;
    z-index: auto;
}
h2{
    font-weight: 100;
    font-size:20px;
    text-align: center;   
}
h3{
    font-weight: 100;
    font-size:14px;
    text-align: center; 
    padding-top:20px;  
}
ul{
    list-style: none;
    padding-left:0;
}
.toolbar-background{
    background-color: #355C7D;
    border:0;
}
.toolbar-title{
    color:#fff;
}
.tab-button{
   min-width: 0;
   padding:0;
}
ion-navbar-section{
    display: block;
}
.bar-button-default{
    color:#fff;
    font-size:15px;
    margin-right:7px;
    margin-top:7px;
}
.bar-button-default:hover:not(.disabled-hover){
    color: $red !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color:    #FFF;
opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color:    #FFF;
opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
color:    #FFF;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
color:    #FFF;
} 
// NAVBAR
ion-title{
    margin-top:3px;
}
.toolbar-background{
    background-color: $yellow;
}
.back-button{
    display: none !important;
}
// COMMON
#all-items{
    float: left;
    width: 100%;
    ul{
        overflow-x: scroll !important;
    }
    li{
        border-bottom: 1px solid $yellow;
        padding:0px 0px 0px 20px;  
        position: relative;
        cursor:pointer;
        h1{
            margin:10px 0px 0px 0px;
            color:$yellow;
            font-size:15px;
            text-transform: uppercase;
        }
        h2{
            margin:0;
            text-align: left;
            font-size:13px;
                text-transform: uppercase;
        }
        p{
            margin:0px 0px 10px 0px;
            width: 90%;
            font-size:12px;
            color:#333;
        }
        span.arrow {
                position: absolute;
                right:0;
                top:0;
                bottom:0;
            .i{
                position: absolute;
                bottom:25%;
                z-index: 2;
                font-size:45px;
                color:$yellow;
                right:14px;
                border:0;
            }
        }
    }
    scroll-content{
        overflow:auto !important;
    }
}
#specify{
    width:100%;
    float:left;
    background-color: $yellow;
    padding:0;
    margin:0;
    li{
        margin-top:0;
        width:50%;
        float:left;
        background-color: transparent;
        color:#fff;
        border-right:1px solid #fff;
        border-radius:0px;
        text-align: center;
        padding-top:5px;
        padding-bottom:5px;
        font-size:16px;
        cursor:pointer;
        min-height: 30px;
        &:last-child{
            border-right:0px;
        }
    }
    .active{
        background-color: $darkyellow;
    }
}