// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/profile/profile";

@import "../pages/login/login";

@import "../pages/search/search";

@import "../pages/tabs/tabs";

@import "../pages/page2/page2";

@import "../pages/page3/page3";

html,body{
    background-color: #355C7D;
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}
scroll-content{
    display:block;
    overflow: visible !important;
    z-index: auto;
}
h2{
    font-weight: 100;
    font-size:20px;
    text-align: center;   
}
h3{
    font-weight: 100;
    font-size:14px;
    text-align: center; 
    padding-top:20px;  
}
ul{
    list-style: none;
    padding-left:0;
}
.toolbar-background{
    background-color: #355C7D;
    border:0;
}
.toolbar-title{
    color:#fff;
}
.tab-button{
   min-width: 0;
   padding:0;
}
ion-navbar-section{
    display: none;
}
