<ion-navbar *navbar>
  <ion-title>
        <img src="images/logo.png" height="30px" width="30px" alt="" />
    </ion-title>
</ion-navbar>
<ion-content class="part" has-header="false">
    <span class="error" *ngIf="error">{{error}}</span>
    <div class="normal" *ngIf="!edit">
        <div id="trip-buttons">
            <span class="contact"><ion-icon name="contact"></ion-icon><p>{{((data.name | obfiPipe) | async)| namePipe}}</p></span>
            <div id="trip-head" [hidden]="!data.src" (click)="bigPicture()">
                <img [src]="data.src || '//:0'" alt="trip-picture">
            </div>
            <div id="trip-head" [hidden]="data.src">
                <img [src]="standardPicture" alt="trip-picture">
            </div>
            <span id="back-home" class="yellow" (click)="goBackHome()">
                <ion-icon name="arrow-back"></ion-icon>
            </span>
            <span id="trip-location" class="yellow" (click)="goMaps()">
                <i class="fa fa-map-marker"></i>
            </span>
        </div>
        <h1>{{ data.location }}</h1>
        <p>{{ data.text }}</p>
    </div>
     <div id="edit-trip" class="normal" *ngIf="edit">
        <div id="trip-heads">
            <div id="trip-head" [hidden]="!data.src">
                <span id="close" (click)="deletePart()"><ion-icon ios="ios-trash" md="md-trash"></ion-icon></span>
                <img [src]="data.src || '//:0'" alt="trip-picture">
                <label class="inputPicture"><!--(click)="takePicture()"-->
                        <input style="width:100%" class="upload" type="file" accept="image/*" capture name="files[]" multiple (change)="uploadPicture($event)" >
                        <span><ion-icon name="camera"></ion-icon></span>
                </label>
            </div>
            <div id="trip-head" [hidden]="data.src">
                 <span id="close" (click)="deletePart()"><ion-icon ios="ios-trash" md="md-trash"></ion-icon></span>
                <img [src]="standardPicture" alt="trip-picture">
                <label class="inputPicture"><!--(click)="takePicture()"-->
                        <input style="width:100%" class="upload" type="file" accept="image/*" capture name="files[]" multiple (change)="uploadPicture($event)" >
                        <span><ion-icon name="camera"></ion-icon></span>
                </label>
            </div>
        </div>
        <h2>Edit the location</h2>
        <input type="text" [(ngModel)]="newData.location" placeholder="Fill here in your location">
        <h2>Edit the text</h2>
        <textarea [(ngModel)]="newData.text" placeholder="Fill here in all the experiences you collected during your trip.">{{ data.text }}</textarea>
        <button class="btn-group">
            <button id="edit" (click)="editPart()">Edit</button>
            <button id="cancel" (click)="cancelPart()"><ion-icon name="close"></ion-icon></button>
        </button>
     </div>
     <div class="big-picture" *ngIf="big">
         <button id="cancel-picture" (click)="bigPicture()"><ion-icon name="close"></ion-icon>
         </button>
         <img [src]="data.src" alt="" />
     </div>
</ion-content>