.part{
    position: relative;
    .contact{
        position: absolute;
        top:5px;
        left:31px;
        color:$white;
        z-index:20;
        font-size:10px; 
        p{
            float:left;
            width:auto;
            margin-left:0;
            padding:0;
            padding-top:2px;
            color:$white;
            &::first-letter{
                text-transform: uppercase;
            }  
        }
        .ion-ios-contact{
            float:left;
            font-size:20px;
            padding-right:5px;
            padding-top:8px;
        }
    }
    .heart{
        position: absolute;
        top:10px;
        right:30px;
        color:$white;
        z-index:20;
        font-size:20px;
    }
    #trip-buttons{
        height:30%;
        position: relative;
        #trip-head{
            width:100%;
            height:100%;
            position: relative;
            float:left;
            overflow: hidden;
            img{
                background-position: center bottom;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                min-height: 30%;
                max-height: 100%;
            }
        }
        .yellow{
            position: absolute;
            bottom:-20px;
            z-index:20;
            margin-top:-20px;
            cursor:pointer;
            .fa,.ion-ios-arrow-back{
                width:40px;
                height:40px;
                border-radius: 40px;
                background-color: $yellow;
                color:$white;
                text-align: center;
                padding-top:9px;
                font-size:25px;
            }
            .ion-ios-arrow-back{
                font-size:30px;
                padding-top:5px;
                padding-right:10px;
            }
        } 
        #back-home{
            left:20px; 
        }
        #trip-location{
            right:20px;
        }
    }
    h1{
       color:$yellow;
       width:100%;
       text-align: center;
       margin-bottom:0;
       font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 15px;
        letter-spacing: 3px;
        margin-top:30px;
    }
    p{
        padding:0px 20px;
        width:100%;
        overflow: scroll;
        height: 54%;
        color:$brown;
        &::first-letter{
            text-transform: uppercase;
        }
    }
}