<ion-navbar *navbar>
  <ion-buttons start >
      <button (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
      </button>
  </ion-buttons>
  <ion-title>
        <img src="build/images/logo.png" height="30px" width="30px" alt="" />
    </ion-title>
    <ion-buttons end>
        <button [hidden]="notMyProfile" (click)="goSettings()">
        <ion-icon name="more"></ion-icon>
        </button>
        <button class="heart" [hidden]="(notMyProfile != true || heart != true)" (click)="heartUser()">
            <ion-icon name="heart"></ion-icon>
        </button>
        <button class="heart" [hidden]="(notMyProfile != true || heart === true)" (click)="heartUser()">
            <ion-icon name="heart-outline"></ion-icon>
        </button>
    </ion-buttons>
</ion-navbar>
<ion-content class="profile" has-header="false">
    <div id="profile-box">
        <img *ngIf="profileImg" [src]="profileImg || '//:0'" alt="">
        <h2 id="person-name">{{((name | obfiPipe) | async)| namePipe}}</h2>
        <ul>
            <li>{{numberOfTrips}} Trips</li>
            <li>{{following}} Followers</li>
            <li>{{followers}} Following</li>
        </ul>
    </div>
    <ul id="specify">
        <li [class]="favoTrips" (click)="changeActive('trips')"><ion-icon name="md-globe"></ion-icon></li>
        <li [class]="favoUser" (click)="changeActive('users')"><ion-icon name="contact"></ion-icon>
        </li>
    </ul>
    <span id="message" *ngIf="message">{{ message }}</span>
    <ion-scroll id="all-items" scrollX="true">
        <ion-list *ngFor="#trip of all" [hidden]="!trip.location" (click)="goTrip(trip)"> 
            <ion-item-sliding>
                <ion-item>
                    <h1>{{ trip.location }}</h1>
                    <h2>{{ trip.sort }} / {{ trip.datetime | date:'yyyy' }}</h2>
                    <p>{{ (trip.text ? trip.text : "") | slice:0:30 }}...</p>
                    <span class="arrow"><ion-icon class="i" name="arrow-forward"></ion-icon></span>
                </ion-item>
                <ion-item-options>
                    <button secundary (click)="share()">
                        <ion-icon name="more"></ion-icon>
                        Share
                    </button>
                    <button danger (click)="delete(trip)">
                        <ion-icon name="close"></ion-icon>
                        Cancel
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </ion-scroll>

</ion-content>