.page1 {

}
ion-content{
    position: relative;
}
.button{
    position: absolute;
    bottom:10px;
    width:90%;
    margin:0 auto;
    right:0;
    left:0;
    background-color: #355C7D;
    text-align: center;
    display: inherit;
}