<ion-navbar id="trip-nav" *navbar>
  <ion-buttons start>
      <button (click)="goPerson()">
         <ion-icon id="person" name="contact" ></ion-icon>
      </button>
  </ion-buttons>
  <ion-title>
        <img src="images/logo.png" height="30px" width="30px" alt="" />
  </ion-title>
  <ion-buttons end>
    <button *ngIf="(data.name != user && heart != true)" (click)="heart =! heart">
        <ion-icon class="top-heart" name="heart-outline"></ion-icon>
    </button>
    <button *ngIf="(data.name != user && heart === true)" (click)="heart =! heart">
        <ion-icon class="top-heart" name="heart"></ion-icon>
    </button>
    <button *ngIf="data.name === user"  (click)="editTrip()">
        <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
<ion-content class="trip" hide-tabs>
    <!-- Changed [hidden] to ngIF -->
    <h1 (click)="changeLocation()">{{ data.location }}</h1>
    <h2 (click)="changeDate()">{{ data.datetime | date:'yyyy'}}</h2>
    <ion-scroll id="trips-timeline" scrollX="true">
        <div id="timeline">
            <div *ngFor="#trip of pictures;#i = index; ">
                <div class="parts" (click)="goPart(trip)">
                    <img *ngIf="trip.src" [src]="trip.src || '//:0'" class="image" >
                    <img *ngIf="!trip.src" [src]="standardPicture" class="image" >
                </div>
                <div class="parts">
                    <h1>Day {{ i + 1 }}<span class="add" (click)="tryAdd(trip)">
                            <ion-icon ios="ios-add" md="md-add"></ion-icon>
                         </span>
                    </h1>
                    <h2 (click)="goPart(trip)"><i class="fa fa-map-marker"></i> <span>{{ trip.location }}</span></h2>
                    <p (click)="goPart(trip)">{{( trip.text ? trip.text : "") | slice:0:50}}...</p>
                </div>
            </div>
        </div>
    </ion-scroll>
    <ion-list id="kind-trip">
        <ion-item>
            <ion-label>What kind of travel is this?</ion-label>
            <ion-select [disabled]="buttonDisabled" [(ngModel)]="tripkind" multiple="false" cancelText="Cancel" okText="Ok">
            <ion-option value="beachttrip">Beachtrip</ion-option>
            <ion-option value="citytrip">Citytrip</ion-option>
            <ion-option value="roadtrip">Roadtrip</ion-option>
            <ion-option value="backpacking">Backpacking</ion-option>
            <ion-option value="businesstrip">Businesstrip</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <div id="back" (click)="goBackHome()">
        <ion-icon name="arrow-back"></ion-icon>
    </div>
    <div id="add" (click)="addThree()" *ngIf="(user === data.name && data.self_made != true)">
        <ion-icon name="add"></ion-icon>
    </div>
    <div id="piece" *ngIf="!showPiece">
        <h2 *ngIf="all">Pick a trip?</h2>
        <ul *ngIf="all" id="choose-trip">
            <li *ngFor="let piece of all" (click)="addPart(piece)">
                <div class="image"  [ngStyle]="piece.src ? {'background-image': 'url(' + piece.src + ')'} : {'background-image': 'url(' + standardPicture + ')'}" (click)="goToTrip(img)"></div>
                <span>{{piece.location | slice:0:25}} <br /> {{piece.datetime | date:'yyyy'}}</span>
            </li>
        </ul>
        <input type="text" [ngClass]="{focus: focusLocate}" [(ngModel)]="tripName" placeholder="Give the new trip a title?">
        <button id="make"(click)="addPart()">Make new trip</button>
        <button id="cancel" (click)="cancelIt()"> <ion-icon name="close"></ion-icon>
    </button>
    </div>
    <div id="grey-edit" *ngIf="showEditPart">
        <ion-list id="which-edit">
            <ion-item>
                <ion-label>Which day do you want to edit?</ion-label>
                <ion-select [(ngModel)]="whichEdit" (change)="editSelected()" multiple="false" (cancel)="onCancel()">
                <ion-option *ngFor="let n of editTrips" value="{{n.location}}">{{n.location}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </div>
</ion-content>