<ion-navbar *navbar>
  <ion-title>
        <img src="images/logo.png" height="30px" width="30px" alt="" />
    </ion-title>
</ion-navbar>
<ion-content class="add-item" has-header="false"> 
    <input type="text" [(ngModel)]="albumTitle" id="title" (click)="changeTitle()">
    <ul id="choose-trip">
        <li *ngFor="let img of images | async" (click)="pickTrip(img)" >
             <div class="image"  [ngStyle]="img.src ? {'background-image': 'url(' + img.src + ')'} : {'background-image': 'url(' + standardPicture + ')'}" (click)="goToTrip(img)"></div>
            <span>{{img.location | slice:0:25}} <br /> {{img.datetime | date:'yyyy'}}</span>
        </li>
    </ul>
    <h1>What do you want to add? {{ basicProgress }}</h1>
    <ul id="choose-type">
        <li (click)="addLocation()"><ion-icon name="map"></ion-icon></li>
        <li (click)="addNote()"><ion-icon name="document"></ion-icon></li>
        <li id="pic">
             <label class="inputPicture"><!--(click)="takePicture()"  -->
                    <input [disabled]="error" style="width:100%" class="upload" type="file" accept="image/*" capture name="files[]" (change)="uploadPicture($event)">       
                    <span><ion-icon name="camera"></ion-icon></span>
             </label>
        </li>
    </ul>
    <ul id="trip-album" [hidden]="noPictures">
        <li *ngFor="let newimg of newImages | async;#i = index;"> 
            <img [hidden]="!newimg.src" [src]="newimg.src">
            <img [hidden]="newimg.src" [src]="standardPicture">
            <span>Day {{i + 1}}</span>
        </li>
    </ul>
    <button id="button-new" (click)="newAlbum()" [hidden]="newalbum">New album</button>
    <div class="confirm-screen" [hidden]="visiblePicture">
        <input type="text" [ngClass]="{focus: focusLocate}" [(ngModel)]="locate" placeholder="What is your location?">
        <button (click)="cancel()" class="cancel-button"> <ion-icon name="close"></ion-icon></button>
        <img [src]="previewImage || '//:0'" id="preview-image">
        <textarea  [(ngModel)]="smallText" id="preview-text" placeholder="Describe here your picture"></textarea>
        <div class="button-middle">
            <button (click)="getPicture(previewImage)" class="confirm-button"><ion-icon name="camera"></ion-icon></button>
        </div>
    </div>
    <div id="note" [hidden]="visibleNote">
        <input type="text" [ngClass]="{focus: focusLocate}" [(ngModel)]="noteLocation" placeholder="What is your location?">
         <button (click)="cancel()" class="cancel-button"> <ion-icon name="close"></ion-icon></button>
        <textarea  [(ngModel)]="longText" id="preview-text" placeholder="Describe here what you did today"></textarea>
        <div class="button-middle">
             <button (click)="getNote(longText,noteLocation)" class="confirm-button"><ion-icon name="document"></ion-icon></button>
        </div>
    </div>
    <div id="maps" [hidden]="visibleMap">
          <input type="text" [ngClass]="{focus: focusLocate}" [(ngModel)]="mapLocation" placeholder="What is your location?">
          <button (click)="cancel()" class="cancel-button"><ion-icon name="close"></ion-icon></button>
          <div id="map"></div>
           <textarea  [(ngModel)]="smallText" id="preview-text" placeholder="Describe here your location"></textarea>
           <div class="button-middle">
             <button (click)="getLocation(mapLocation,smallText)" class="confirm-button"><i class="icon fa fa-map-marker"></i></button>
           </div>
    </div>
</ion-content>
